/* line 1, ../sass/site.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 6, ../sass/site.scss */
body {
  font: 1em verdana;
  background-color: #ccc;
  padding: 50px;
}

/* line 11, ../sass/site.scss */
h3 {
  margin: 5%;
}

/* line 14, ../sass/site.scss */
h1 {
  margin: 3%;
  font: bold 2em verdana;
  border-bottom: 1px solid #000;
  text-align: center;
}

/* line 21, ../sass/site.scss */
.question {
  margin-top: 5px;
  line-height: 1.5em;
  background: #abc;
}

/* line 27, ../sass/site.scss */
summary {
  outline: none;
}

/* line 31, ../sass/site.scss */
article {
  margin-top: 5%;
}

/* line 34, ../sass/site.scss */
ul {
  list-style: square;
  padding-left: 5%;
}

/* line 38, ../sass/site.scss */
ol {
  padding-left: 5%;
}

/* line 41, ../sass/site.scss */
.code {
  font: normal normal 1em/1em monospace;
  white-space: pre-line;
  text-align: left;
  background: pink;
  width: 30%;
}
