* {
    margin: 0;
    padding: 0;
}

body {
    font: 1em verdana;
    background-color: #ccc;
    padding: 50px;
}
h3{
margin:5%;
}
h1 {
    margin:3%;
    font: bold 2em verdana;
    border-bottom: 1px solid #000;
    text-align: center;
}

.question {
    margin-top: 5px;
    line-height: 1.5em;
    background: #abc;
}

summary {
    outline: none;
}

article {
    margin-top: 5%;
}
ul{
    list-style:square;
    padding-left:5%;
}
ol{
    padding-left:5%;
}
.code{
    font:normal normal 1em/1em monospace;
    white-space:pre-line;
    text-align:left;
    background:#abc;
    width:30%;
}